.dark {
    --primary: var(--color-emerald-500);
    --app-sidebar: var(--color-neutral-900);
    --background: var(--color-neutral-800);
    --hover: var(--color-neutral-700);
    --border: var(--color-neutral-700);
    --text-primary: var(--color-neutral-200);
    --text-secondary: var(--color-neutral-400);
    --cursor: var(--color-emerald-500);
    --input-box: var(--color-neutral-700);
    --active: var(--color-neutral-700);
}
